{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">/{{=request.application}}/{{=request.controller}}/{{=request.function}}</h1>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12">
    <ol>
    {{for my_challenge in my_defs:}}
    {{=LI(A(T(my_challenge.name), _href=URL('%s' % request.application,'default','my_challenge/%s' % my_challenge.id )))}}
    {{pass}}
    </ol>

  </div>
</div>



